<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
</head>
<body>
    <h1>列子</h1> 
    <p>
        太古之事滅矣，孰誌之哉？
    </p>
    <p>
        三皇之事若存若亡，五帝之事若覺若夢，三王之事或隱或顯，億不識一。
    </p>
    <p>
        當身之事或聞或見，萬不識一。
    </p>
    <p>
        目前之事或存或廢，千不識一。
    </p>
    <p>
        太古至于今日，年數固不可勝紀。
    </p>
    <p>
        但伏羲已來三十餘萬歲，賢愚、好醜，成敗、是非，無不消滅；
    </p>
    <p>
        但遲速之間耳。
    </p>
    <p>
        矜一時之毀譽，以焦苦其神形，
    </p>
    <p>
        要死後數百年中餘名，
    </p>
    <p>
        豈足潤枯骨？何生之樂哉？」
    </p>
 
</body>
</html>