{% extends "common/base.html" %}

{% import "common/_macros.html" as macros %}

{% block title %}
    Flasky - {{ post.title }}
{% endblock %}


{% block page_content %}
    <div class="row">
        <div class="col-md-8">
            <div class="header-page">
                <h1>{{ post.title }}</h1>
            </div>
            <div class="content">
                {% if post.body_html %}
                        {{ post.body_html | safe}}
                {% else %}
                        {{ post.body}}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock page_content %}
